<div class="container">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><span>Trang chủ</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Trang không tồn tại</span></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col no-padding">
                        <div class="error-page-content">
                            <h3>Trang không tồn tại</h3>
                            <a href="/" class="btn btn-primary">
                                <i class="fas fa-chevron-right"></i>
                                Về trang chủ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
