<div class="container">
    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><span>Trang chủ</span></a></li>
            <li class="breadcrumb-item active" aria-current="page"><span><%- customizedPage.name %></span></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <%- customizedPage.description %>
        </div>
    </div>
</div>
