<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Giới thiệu</h3>
                    <ul>
                        <li><a href="/about">Giới thiệu</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Liên hệ</h3>
                    <ul>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Phát triển</h3>
                    <ul>
                        <li><a href="https://facebook.com/dohuyvuong96" target="_blank">dohuyvuong96</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a href="/"><i class="icon ion-social-facebook"></i></a>
                    <a href="/"><i class="icon ion-social-twitter"></i></a>
                    <a href="/"><i class="icon ion-social-youtube"></i></a>
                    <a href="/"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">HanoiLED © 2020<br /></p>
                </div>
            </div>
        </div>
    </footer>
</div>
